*{
  box-sizing: border-box;
}

html{
}

body{
  @include fontSize(16px);

  color: $grey;
  margin: 0;
  font-family: 'LatoWeb';
  overflow-x: hidden;
}

ul,li,main{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}