$baseFontSize: 14px;

$commonGutter: 50px;
$sidebarWidth: 20%;
$sidebarGutter: $commonGutter;
$pageTopMargin: $commonGutter;

// fonts
$baseFontPath: "../fonts/";
$latoFontPath: "#{$baseFontPath}Lato/fonts/";