$baseFontSize: 14px;

// fonts
//$basePrimaryFontFamily: 'LatoWeb' ;
//$fallbackFontFamily: , Helvetica, sans-serif;
//$baseFontFamily: $basePrimaryFontFamily + $fallbackFontFamily;
$baseFontFamily: 'LatoWeb' , Helvetica, sans-serif;

$baseFontPath: "../fonts/";
$latoFontPath: "#{$baseFontPath}Lato/fonts/";
$icomoonFontPath: "#{$baseFontPath}icomoon/fonts/";

// Breakpoints
$bp-babybear: 600px;
$bp-teenbear: 972px;
$bp-mamabear: 1250px;
$bp-papabear: 1600px;