$baseFontSize: 14px;

$commonGutter: 50px;
$sidebarWidth: 20%;
$sidebarGutter: $commonGutter;
$pageTopMargin: $commonGutter;

// fonts
$baseFontPath: "../fonts/";
$latoFontPath: "#{$baseFontPath}Lato/fonts/";
$icomoonFontPath: "#{$baseFontPath}icomoon/fonts/";

// Breakpoints
$bp-babybear: 600px;
$bp-teenbear: 972px;
$bp-mamabear: 1250px;
$bp-papabear: 1600px;