/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url('#{$latoFontPath}Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('#{$latoFontPath}Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$latoFontPath}Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('#{$latoFontPath}Lato-Regular.woff') format('woff'), /* Modern Browsers */
  url('#{$latoFontPath}Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}