/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url('#{$latoFontPath}Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('#{$latoFontPath}Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$latoFontPath}Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('#{$latoFontPath}Lato-Regular.woff') format('woff'), /* Modern Browsers */
  url('#{$latoFontPath}Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'icomoon';
  src:    url('#{$icomoonFontPath}icomoon.eot?41l3sd');
  src:    url('#{$icomoonFontPath}icomoon.eot?41l3sd#iefix') format('embedded-opentype'),
  url('#{$icomoonFontPath}icomoon.ttf?41l3sd') format('truetype'),
  url('#{$icomoonFontPath}icomoon.woff?41l3sd') format('woff'),
  url('#{$icomoonFontPath}icomoon.svg?41l3sd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
