@mixin button-link($color){
  border: 2px solid $color;
  color: $color;
  padding: 10px;
  text-align: center;
  text-decoration: none;

  &:visited{
    color: $color;
  }

  &:hover, &:focus{
    border: 2px solid darken($color,5%);
    color: darken($color,5%);
    text-decoration: none;
  }

  &:active{
    border: 2px solid darken($color,7%);
    color: darken($color,7%);
    text-decoration: none;
  }
}