.whiteLinks{
  color: $white;
  text-decoration: none;

  &:visited{
    color: $white;
  }

  &:hover, &:focus{
    background: darken($teal,5%);
    text-decoration: none;
  }

  &:active{
    background: darken($teal,7%);
    text-decoration: none;
  }
}