[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
  content: "\e900";
}
.icon-circle-right:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-github:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-linkedin2:before {
  content: "\e905";
}

