#sidenav{
  background: $teal;
  display: inline-block;
  margin: 0;
  padding: $pageTopMargin 0;
  vertical-align: top;
  width: $sidebarWidth;

  position: fixed;
  top: 0;
  bottom: 0;

  ul{
    color: $white;
    list-style: none;
    margin: 0;
    text-align: center;
  }

  li{
    border-bottom: 2px solid darken($teal,2%);

    img{
      padding-bottom: 50px;
    }

    a{
      @extend .linkBlock;
      @extend .whiteLinks;

      font-size: 18px;
      padding: 20px 0;
    }
  }
}