#sidenav{
  background: $primary-color;
  display: inline-block;
  margin: 0;
  padding: $pageTopMargin 0;
  vertical-align: top;
  width: $sidebarWidth;

  position: fixed;
  top: 0;
  bottom: 0;

  ul{
    color: $white;
    list-style: none;

    li{
      border-bottom: 2px solid darken($primary-color,2%);

      img{
        margin: auto;
        padding: 0 0 $sidebarGutter $sidebarGutter;
      }

      a{
        @extend .linkBlock;
        @extend .whiteLinks;

        padding: 20px 0 20px $sidebarGutter;
      }
    }
  }
}