.rocket-list{
  display: inline-block;
  text-align: left;

  li{
    img{
      height: 40px;
      margin-right: 14px;
      -ms-transform: rotate(20deg); /* IE 9 */
      -webkit-transform: rotate(20deg); /* Safari */
      transform: rotate(20deg);
      vertical-align: bottom;
    }
  }
}