#homepageContent{
  margin: 0 auto;
  max-width: 80%;

  @include bp(baby-bear){
    max-width: initial;
    padding: 0 10px;
  }

  .content-section{
    padding: 30px 30px 60px 30px;
    @include bp(baby-bear){
      padding: 0;
    }

    aside{
      display: inline-block;
      padding: 5px;
      text-align: center;
      vertical-align: middle;
      width: 49%;

      @include bp(teen-bear){
        display: none;
      }

      img{
        vertical-align: middle;
        width: 50%;
      }
    }
    section{
      display: inline-block;
      font-size: 24px;
      padding: 5px 10% 5px 5px;
      vertical-align: middle;
      width: 50%;

      @include bp(teen-bear){
        width: 100%;
        padding: 0;
      }

      li {
        margin-bottom: 20px;
      }
    }
  }
}

