#homepageContent{
  margin: 0 auto;
  max-width: 70%;

  @include bp(mama-bear){
    max-width: 80%;
  }
  @include bp(teen-bear){
    max-width: 90%;
  }
  @include bp(baby-bear){
    max-width: initial;
    padding: 0 20px;
  }

  .content-section{
    margin: 30px 0 60px;

    aside{
      display: inline-block;
      padding: 5px;
      text-align: center;
      vertical-align: middle;
      width: 49%;

      // Hiding image and showing text in full width
      @include bp(baby-bear){
        display: none;
      }

      img{
        vertical-align: middle;
        width: 350px;

        // Reducing width of images
        @include bp(teen-bear){
          width: 200px;
        }
      }
    }
    section{
      display: inline-block;
      font-size: 24px;
      vertical-align: middle;
      width: 50%;

      // Hiding image and showing text in full width
      @include bp(baby-bear){
        width: 100%;
      }

      li {
        margin-bottom: 20px;
      }
    }
  }

  #skillSet,#contactMe{
    text-align: center;
    @include bp(baby-bear){
      text-align: left;
    }
  }
}

