$icomoon-font-path: "fonts" !default;

$icon-open: "\e128";
$icon-rocket2: "\f033";
$icon-zap: "\26a1";
$icon-twitter: "\e905";
$icon-github: "\e906";
$icon-linkedin: "\e907";
$icon-file-pdf: "\e908";