$icomoon-font-path: "fonts" !default;

$icon-earth: "\e900";
$icon-link: "\e901";
$icon-arrow-up-right2: "\e902";
$icon-share: "\e903";
$icon-new-tab: "\e904";
$icon-twitter: "\e905";
$icon-github: "\e906";
$icon-linkedin: "\e907";
$icon-file-pdf: "\e908";

